{% extends 'base.html.twig' %}

{% block body %}
    <h1>Acl list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Companyindex</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acl in acls %}
            <tr>
                <td><a href="{{ path('acl_show', { 'id': acl.id }) }}">{{ acl.id }}</a></td>
                <td></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('acl_show', { 'id': acl.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('acl_edit', { 'id': acl.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acl_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
