{% extends 'base.html.twig' %}

{% block body %}
    <div class="entry2">
    <h1>Role list</h1>

    <table class="list">
        <thead>
            <tr>
                <th class="left">Id</th>
                <th class="left">Name</th>
                <th class="left">Title</th>
                <th class="left">Description</th>
                <th class="right">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td><a href="{{ path('role_show', { 'id': role.id }) }}">{{ role.id }}</a></td>
                <td>{{ role.name }}</td>
                <td>{{ role.title }}</td>
                <td>{{ role.description }}</td>
                <td>
                    <ul class="right">
                        <li>
                            <a href="{{ path('role_show', { 'id': role.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('role_edit', { 'id': role.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('role_new') }}">Create a new entry</a>
        </li>
    </ul>
    </div>
{% endblock %}
