<div class="list-one">

    <div class="ca"><div class="list1">Email :</div><div class="list2">{{ user.email }}</div></div>
    <div class="ca"><div class="list1">Telephone :</div><div class="list2">{{ user.telephone }}</div></div>
    <div class="ca"><div class="list1">Address:</div><div class="list2">{{ user.address }}</div></div>
    <div class="ca"><div class="list1">Zip code:</div><div class="list2">{{ user.zipcode }}</div></div>
    <div class="ca"><div class="list1">City:</div><div class="list2">{{ user.city }}</div></div>

</div>