{% extends 'base.html.twig' %}

{% block body %}
<div class="entry2">
    <h1>User list</h1>
    <table class="list">

        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {#<td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>#}

                <td><span >{{ user.firstName }}</span></td>
                <td><span>{{ user.lastName }}</span></td>
                <td><span >{{ user.email }}</span></td>

                <td>
                    <ul>
                        <li>
                            <a onclick="expandUser('{{ user.id}}')">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
               <td colspan="4">
                <div id="user_{{ user.id }}">

                </div>
               </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new entry</a>
        </li>
    </ul>
</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
    function expandUser(user_id)
    {

        $.post('{{ path('user_expand') }}',
                {user_id:user_id},
            function(response) {
                $('#user_' + user_id).html(response['view']);
            }, "json");
//        $('#user_' + user_id).html('')
    }
</script>

{% endblock %}

