{% extends "::base.html.twig" %}

{% block body %}
    <div class="entry">
        <div class="linia">
            <div class="komorka">Personal data:</div>
        </div>
            <div class="linia">
                <div class="komorka">
                    <div>Name:</div>
                    <div>{{ user.firstName }}</div>
                </div>

                <div class="komorka">
                {% image '@CompanyManagementBundle/Resources/images/avatar.gif' %}
                <img src="{{ asset_url }}" alt="Bledzik"/>
                {% endimage %}
                </div>
            </div>


        <div>
            <div>Surname:</div>
            <div>{{ user.lastName }}</div>
        </div>
        {% if user.department is not null %}
            <div>
                <div>Department:</div>
                <div>{{ user.department.name }}</div>
            </div>
        {% endif %}
        {% if user.parent is not null %}
            <div>
                <div>Boss:</div>
                <div>{{ user.parent.firstName }} {{ user.parent.lastName }}</div>
            </div>
        {% endif %}
        <div>
            <div>Number of hours worked:</div>
            <div>$Ilosc</div>
        </div>
        <div><input type="submit" value="End work"></div>
        <div><input type="submit" value="Start work"></div>
    </div>

{% endblock %}
