{% extends "::base.html.twig" %}

{% block body %}
    <div class="entry">
        <div class="tablewrapper">
            <div class="table">

                <div class="row">
                    <div class="cell2">
                        Personal data:
                    </div>
                    <div class="cell1">
                    </div>
                    <div class="cell center">

                    </div>
                </div>

                <div class="row">
                    <div class="cell">
                        Name:
                    </div>
                    <div class="cell">
                        {{ user.firstName }}
                    </div>
                    <div class="cell center">
                        {% image '@CompanyManagementBundle/Resources/images/avatar.gif' %}
                        <img src="{{ asset_url }}" alt="Bledzik"/>
                        {% endimage %}
                    </div>
                </div>

                <div class="row">
                    <div class="cell">
                        Surname:
                    </div>
                    <div class="cell">
                        {{ user.lastName }}
                    </div>
                    <div class="cell">
                    </div>
                </div>

                <div class="row">
                    <div class="cell">
                        {% if user.department is not null %}

                            Department:

                        {% endif %}
                    </div>
                    <div class="cell">

                        {% if user.department is not null %}

                            {{ user.department.name }}

                        {% endif %}
                    </div>
                    <div class="cell">
                    </div>
                </div>

                <div class="row">
                    <div class="cell">
                        {% if user.parent is not null %}

                        Boss:

                        {% endif %}
                    </div>
                    <div class="cell">
                        {% if user.parent is not null %}

                        {{ user.parent.firstName }} {{ user.parent.lastName }}

                        {% endif %}
                    </div>
                    <div class="cell center">
                        <input type="submit" value="Start work">
                    </div>
                </div>

                <div class="row">
                    <div class="cell">
                        Number of hours worked:
                    </div>
                    <div class="cell">
                        $Ilosc
                    </div>
                    <div class="cell center">
                        <input type="submit" value="End work">
                    </div>
                </div>

            </div>
        </div>
</div>
    <div class="container">
    </div>

{% endblock %}
